/*src/globals.css*/
@import "tailwindcss";

/* RESET */
*,
*::before,
*::after{
  box-sizing:border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x:hidden;
  background:#ffffff;
  margin:0;
  padding:0;
}

.container-custom {
  @apply max-w-[1400px] mx-auto px-5 sm:px-8 md:px-10 lg:px-16 xl:px-20;
}

/* Hide scrollbar but keep scrolling */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}